/* Navbar list styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    270deg,
    #301f15 0%,
    #301f15 19.24%,
    #301f16 38.54%,
    #4a2f25 58.26%,
    #5c3e31 79.37%,
    #5a4031 100%
  );
  height: 104px !important;
}

.navbar > ul {
  display: flex;
  padding-inline-start: 0px !important;
  gap: 50px;
}
.navbar-logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  font-family: "Pacifico", cursive;

  font-style: normal;
  color: #f7f0d4;
}
.nav-ul > li {
  list-style-type: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-ul > li > a {
  text-decoration: none;
  color: #f7f0d4;
}

.nav-ul > li :hover {
  border-bottom: 2px solid #f7f0d4;
  padding-bottom: 10px !important;
}

.navbar-glass {
  height: 28px !important;
  width: 28px !important;
}

/* Hero styling */
.hero-background {
  background: linear-gradient(
    270deg,
    #301f15 0%,
    #301f15 19.24%,
    #301f16 38.54%,
    #4a2f25 58.26%,
    #5c3e31 79.37%,
    #5a4031 100%
  );
}
.hero {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
  padding-top: 70px;
}

.hero-header {
  font-family: Josefin Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-p {
  font-family: Josefin Sans;
  font-weight: 300;
  font-style: Regular;
  font-size: 19px;
  color: #f7f0d4;
  margin-bottom: 20px;
}

.coffee-cup {
  height: 600px;
}

.socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  gap: 20px;
}

hr {
  transform: rotate(90deg);
  margin-bottom: 50px;
}

.order-btn {
  background-color: #f7f0d4;
  border: none;
  border-radius: 20px;
  padding: 15px 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.cofeeseed1 {
  position: absolute;
  width: 44px;
  height: 37.58856964111328px;
  top: 250px;
  left: 115px;
}

.cofeeseed2 {
  position: absolute;
  width: 66px;
  height: 56.38285446166992px;
  top: 200px;
  left: 320px;
}

.cofeeseed3 {
  position: absolute;
  width: 112px;
  height: 95.67999267578125px;
  top: 250px;
  left: 600px;
}

.cofeeseed4 {
  position: absolute;
  width: 28.093647003173828px;
  height: 24px;
  top: 650px;
  left: 106px;
}

.cofeeseed5 {
  position: absolute;
  width: 96px;
  height: 82.01142120361328px;
  top: 650px;
  left: 200px;
}

.cofeeseed6 {
  position: absolute;
  width: 44px;
  height: 37.58856964111328px;
  top: 620px;
  left: 480px;
}

.cofeeseed7 {
  position: absolute;
  width: 23.411373138427734px;
  height: 20px;
  top: 600px;
  left: 580px;
}

/*About Us */
.discver-hd {
  font-family: Josefin Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  color: #3f2f2a;
}

.discver-p {
  font-family: Josefin Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  color: #3f2f2a;
}

.p-dv {
  color: #3f2f2a;
  font-family: Josefin Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
}

.aboutus-img {
  height: 485px;
}

.discover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.discover-background {
  background: #dbbca0;
}

.second-div {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Read-more {
  background-color: #301f15;
  color: #f7f0d4;
  border: none;
  border-radius: 20px;
  padding: 15px 40px;
  width: 35%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

/* Item Cards */
.item-card {
  width: 164px;
  height: 204px;
  border-radius: 12px;
  border-width: 0.4px;
  background: #f7f0d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-shadow: 2px 2px 2px 0px #0000001f;
}

.coffee-img-cake {
  width: 114.61661529541016;
  height: 110.97534942626953;
  margin: auto;
}

.coffee-img-beans {
  width: 107px;
  height: 100px;
  margin: auto;
}

.coffee-img-cup {
  width: 102px;
  height: 54px;
  margin: auto;
}
.coffee-txt {
  font-family: Josefin Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
}

.first-container {
  background: #301f15;
  padding: 60px;
}
.container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  background: #dbbca0;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
}

.coffee-img-lato {
  width: 64.93002319335938px;
  height: 100.5772705078125px;
  margin: auto;
}

/* Varieties */

.varieties-section {
  background: #dbbca0;
  padding-top: 30px;
}

.products-container {
  width: 88%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section-title {
  font-family: Josefin Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}

.span-title {
  font-weight: 700;
  font-style: Bold;
}

.product-card {
  width: 283px;
  height: 442px;
  border-radius: 8px;
  border-width: 0.4px;
  background: #e4ccb6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Josefin Sans;
  padding-top: 8px;
}

.product-first-div {
  width: 85%;
}
.product-img {
  width: 263px;
  height: 340px;
  margin: auto;
  border-radius: 8px;
}

.card-title {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.card-p {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product-btn {
  width: 83px;
  height: 30px;
  background-color: #301f15;
  color: #f7f0d4;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.View-menu-btn {
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  background-color: #301f15;
  color: #f7f0d4;
}
.view-btn-div {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
/*Products page */
.Ourproducts-container {
  background: linear-gradient(
    270deg,
    #301f15 0%,
    #301f15 19.93%,
    #301f15 40.63%,
    #301f15 60.07%,
    #301f15 78.96%,
    #301f15 99.93%
  );
  height: 579px;
  display: flex;
  align-items: center;
}

.ourproducts {
  width: 85%;
  height: 376px;
  background: #f7f0d4;
  border-radius: 12px;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 1;
}

.beanbag {
  width: 500px;
  height: 420px;
}

.products-p {
  font-family: Josefin Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  color: #00000;
  margin-bottom: 20px;
}

.Explore-btn {
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  background-color: #301f15;
  color: #f7f0d4;
}

.ourprdcts-1 {
  margin-left: 5%;
}

.ourproducts-bg {
  position: absolute;
  z-index: 1;
}
