/* Navbar list styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    270deg,
    #301f15 0%,
    #301f15 19.24%,
    #301f16 38.54%,
    #4a2f25 58.26%,
    #5c3e31 79.37%,
    #5a4031 100%
  );
  height: 104px !important;
}

.navbar > ul {
  display: flex;
  padding-inline-start: 0px !important;
  gap: 50px;
}
.navbar-logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  font-family: "Pacifico", cursive;

  font-style: normal;
  color: #f7f0d4;
}
.nav-ul > li {
  list-style-type: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-ul > li > a {
  text-decoration: none;
  color: #f7f0d4;
}

.nav-ul > li :hover {
  border-bottom: 2px solid #f7f0d4;
  padding-bottom: 10px !important;
}

.navbar-glass {
  height: 28px !important;
  width: 28px !important;
}

/* Hero styling */
.hero-background {
  background: linear-gradient(
    270deg,
    #301f15 0%,
    #301f15 19.24%,
    #301f16 38.54%,
    #4a2f25 58.26%,
    #5c3e31 79.37%,
    #5a4031 100%
  );
}
.hero {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
  padding-top: 70px;
}

.hero-header {
  font-family: Josefin Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-p {
  font-family: Josefin Sans;
  font-weight: 300;
  font-style: Regular;
  font-size: 19px;
  color: #f7f0d4;
  margin-bottom: 20px;
}

.coffee-cup {
  height: 600px;
}

.socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  gap: 20px;
}

hr {
  transform: rotate(90deg);
  margin-bottom: 50px;
}

.order-btn {
  background-color: #f7f0d4;
  border: none;
  border-radius: 20px;
  padding: 15px 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.cofeeseed1 {
  position: absolute;
  width: 44px;
  height: 37.58856964111328px;
  top: 250px;
  left: 115px;
}

.cofeeseed2 {
  position: absolute;
  width: 66px;
  height: 56.38285446166992px;
  top: 200px;
  left: 320px;
}

.cofeeseed3 {
  position: absolute;
  width: 112px;
  height: 95.67999267578125px;
  top: 250px;
  left: 600px;
}

.cofeeseed4 {
  position: absolute;
  width: 28.093647003173828px;
  height: 24px;
  top: 650px;
  left: 106px;
}

.cofeeseed5 {
  position: absolute;
  width: 96px;
  height: 82.01142120361328px;
  top: 650px;
  left: 200px;
}

.cofeeseed6 {
  position: absolute;
  width: 44px;
  height: 37.58856964111328px;
  top: 620px;
  left: 480px;
}

.cofeeseed7 {
  position: absolute;
  width: 23.411373138427734px;
  height: 20px;
  top: 600px;
  left: 580px;
}

/*About Us */
.discver-hd {
  font-family: Josefin Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  color: #3f2f2a;
}

.discver-p {
  font-family: Josefin Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  color: #3f2f2a;
}

.p-dv {
  color: #3f2f2a;
  font-family: Josefin Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
}

.aboutus-img {
  height: 485px;
}

.discover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding-top: 100px;
}

.discover-background {
  background: #dbbca0;
}

.second-div {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Read-more {
  background-color: #301f15;
  color: #f7f0d4;
  border: none;
  border-radius: 20px;
  padding: 15px 40px;
  width: 35%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
